<footer style="text-align:center; padding: 1em 0; background-color: #DEF7FF; font-size: 0.9em; color: #b1babb;">
    <p>&copy; 
        2025 Vivian Zeru. 
        All rights reserved. 
        This website was created using the assistance of the "Software Engineering Skills" 
        YouTube channel tutorials on creating a portfolio for ideas, and the code was 
        debugged with the assistance of AI tools. However, the bulk of the website 
        was still created by myself and myself only, utilizng my own knowledge from 
        experience.  
        Last updated: May 10, 2025</p>
  </footer>
