<div style="margin-left: 40px;">
    <div>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;My name is Vivian Zeru, and I go to Vanderbilt Unviersity studying
        Electrical and Computer Engineering as both a rising junior and a rising
        first-year masters student through a program called the 
        Accelerated Graduate Program in Engineering, allowing me to 
        graduate in <b>May 2027</b> with both my Masters of Science and 
        Bachelor in Engineering degrees! My bachelors degree focuses on 
        <b>Microelectronics and Embedded Computing & Cyber-Physical Systems,</b> 
        and I overall try to focus my work in circuit design and analysis, 
        learning as much as I can about the creation of electronic devices.
        However, I also have a breath of knowledge both in and out of 
        electrical engineering, as a lot of different aspects of the field 
        interest me!
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I wanted to become an engineer because I have always been a creative 
        and a problem solver. My favorite subject in primary and secondary school 
        has always been math because I found it amazing that you can sit 
        with a problem and craft a calculated answer that logically makes sense 
        and is correct with patience and effort, and I have always been the type of person 
        that will sit with a problem until I can come up with the correct 
        answer myself and truly understand why it works.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;When I was 11, I watched YouTube videos of child prodigies that 
        would take items that looked like garbage to some, and would create 
        amazing products that could help the communities around them 
        with innovation and engineering, being child inventors. 
        Those videos inspired me to want to be able to create my own devices 
        like them that could also change the lives of those around me in a 
        positive way (plus, I thought that tinkering with these electronics
        looked very fun to create things, as I was always very creative and 
        loved to make things).
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Before I discovered engineering, I enjoyed not only math but also 
        to draw, paint, do calligraphy, and create things out of duct tape
        and craft supplies often. I think that these things make me even 
        more suited for engineering at a young age, as I believe that 
        being an engineer is not only one of the most logical and calculated 
        disiplines but also one of the most creative: the opportunity to 
        solve problems and create anything you can imagine is the foundation 
        of being an engineer as a whole.
        </p>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;Since then, I have done lots of work related to engineering. I learned 
        over the years the importance of diversity of thought within engineering 
        and wanted to not only be an engineer and innovator, but to serve as 
        hope for the future generation of engineers that bring a diverse perspective 
        to engineering, which is vital in order to make sure that the work we create 
        as engineers helps as many different people as possible. This is why I 
        devoted many of my high school years to being involved in Women in Science 
        and Engineering, and I hope that as a black woman in engineering I can 
        inspire others to follow their dreams (and to hopefully join engineering
        careers and STEM in general) no matter what obstacles they may face 
        along the way!
        </p>
        <br>
        <p>
            &nbsp;&nbsp;&nbsp;&nbsp;I hope that all of this shows you exactly how much engineering, 
            especially electrical engineering, means to me and how impactful 
            I hope to be through my work.  
        </p>
    </div>
    <br>
    &nbsp;&nbsp;&nbsp;&nbsp;Outside of engineering, I do many other things!
    <li>
        I learned how to swim when I was 1 year old and have 
        competitively swam from about 7-18 years old! Now, I enjoy
        practicing swimming for fun when I have time.
    </li>
    <li>
        I started playing violin in orchestra when I was 9 years old,
        and I used to be heavily involved throughout middle school and beyond. Today,
        I still play and perform for fun!
    </li>
    <li>
        I love calligraphy, stationary, and making satisfying notes.
        I find it really simple, enjoyable, and relaxing to do 
        everytime I take notes in school.
    <li>
        I go to the gym amd lift!
    </li>
    <li>
        Electrical engineering is also my passion and hobby, and I tinker with 
        Arduinos, Raspberry Pis, STM32s, etc. whenever I have time!
    </li>
    <br>
</div>
