<div class="text-center">
    I am open to any and all opportunity inquiries within tech and electrical and computer engineering!
    Please don't hesitate to contact me if you have any questions or comments, or if you just want to chat!
    <br>
    Email: vivian.zeru&#64;vanderbilt.edu
    <br><br>
  
    <div class="d-flex justify-content-center flex-wrap gap-5">
      <a href="https://www.linkedin.com/in/vivian-zeru/" target="_blank">
        <img src="/linkedin.png" alt="Linkedin Image" width="150" height="150">
      </a>
      <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vivian.zeru@vanderbilt.edu" target="_blank">
        <img src="/gmail.jpg" alt="Gmail Image" class="rounded" width="150" height="150">
      </a>
      <a href="https://github.com/vivian-lz" target="_blank">
        <img src="/git.png" alt="GitHub Image" width="150" height="150">
      </a>
      <a href="mailto:vivian.zeru@vanderbilt.edu" target="_blank">
        <img src="/emailsend.jpg" alt="Email Image" class="rounded" width="150" height="150">
      </a>
    </div>
    <br>
  </div>
  
