<div class="text-center">
    I am open to any and all opportunity inquiries within tech and electrical and computer engineering!
    Please don't hesitate to contact me if you have any questions or comments, or if you just want to chat!
    <br>
    <a href="https://www.linkedin.com/in/vivian-zeru/" target="_blank">LinkedIn</a>
    <br>
    <a href="https://mail.google.com/mail/?view=cm&fs=1&to=vivian.zeru@vanderbilt.edu" target="_blank">Direct Gmail Link</a>
    <br>
    <a href="https://github.com/vivian-lz" target="_blank">GitHub</a>
    <br>
    <a href="mailto:vivian.zeru@vanderbilt.edu" target="_blank">General Email Link: Send me a message!</a>
</div>
