<div class="text-center">
    <p>
        Although I am not a CS major, I spent a lot of my freshman year taking
        required introductory CS courses as a requirement of my major.
        (This was also because many of the electrical engineering 
        courses I wanted and needed to take required many more 
        prerequisite courses that I had to meet in comparison.)
        While I am still more focused on hardware efforts, that first year
        gave me a lot of valueable foundational coding experience that I 
        heavily utilized, especially by completeing a Software Engineering
        Internship in the summer before my sophomore year of college.
        I hope that these coding skills will help me in my hardware engineering
        and electrical engineering efforts, as programming is usually a
        necessity even in these disiplines. Here, I wanted to showcase 
        some CS heavy projects I completed that showcase all of the 
        foundational skills I gained in programming back then (besides
        this website, of course)!
    </p>

    <b>Layoff/Recall Feature</b>
    <p>
        Background and Purpose
        <br>
        I implemented the ability to add and edit a layoff/recall on 
        EMS. Essentially, UPS Airport facilities have many workers 
        (mechanics, line maintenance, technical support staff, etc) 
        that utilize EMS to bid on their shifts and vacations every 
        quarter or year. Sometimes, due to factors such as relocation, 
        workers may be laid off from their shift, which grants them recall 
        rights, or the ability to have priority towards bidding a new shift. 
        These workers have access to those recall rights for seven years after 
        the start date of their layoff, which is a long time! Hangar support, 
        which is the business, has to keep up with each layoff for each employee 
        for that duration, which meant that before this feature they had to 
        keep up with data scripts and papers of this information and ask it to be 
        manually added once a recall is requested by the worker or during 
        quarterly, etc., which is a huge burden for the business to have to 
        remember to keep up with all of those documents for so long. By 
        implementing this feature, hangar support now has the ability to 
        click a “+” button under the layoff/recall section of an employee’s 
        profile to add in the layoff the second they know they need to, 
        which relieves the business from having to keep up with this 
        information themselves. By entering the gateway, jobclass, 
        shop, position (full or part time), layoff start date, and 
        an optional comment field, hangar support can add a layoff 
        to the employee’s profile so that it is visible to the employee, 
        and it manually calculates the expiration date of the recall 
        rights the employee has for that layoff, which relieves the 
        business from having to remember the expiration date. This 
        way, it is easier for the business, workers, and developers 
        to keep up with a specific layoff and recall as a result of that 
        layoff. In addition, under the layoff/recall tab on the employee’s 
        profile, they can see the important information that they need for 
        that particular layoff (gateway, jobclass, shop, start date, 
        expire date), and if they want to edit a specific layoff they can
         click the edit layoff pen on the right side of the layoff on their
          profile and edit any necessary fields to fix any errors.
    </p>
    <p>
        Features
        <br>
        <li>Add Button to Create a Layoff/Recall</li>
        <li>Edit Button to Edit a Layoff/Recall</li>
        <li>Button Popup to enter Layoff Information</li>
        <li>Visible Expire Date for the Employee/User</li>
        <li>Automatically removes layoff/recall once it expires</li>
    </p>
    <embed
        src="/2024internpres.pdf"
        type="application/pdf"
        width="70%"
        height="600px"
        style="border: none; margin: 0 auto; display: block"
    >
    <br>
    <b>Asset Management Application</b>
    <p>
        This application was created for the 2024 UPS Intern Hackathon, 
        a worldwide competition with about 34 teams where my team of myself, 
        3 other interns, and a full time engineer placed in the top 9 teams
         worldwide and made it past 2 rounds of judging out of 3 and created
         this application in 24 hours.
        <br>
        This application utilizes Vertex AI to take images given to us of 
        trailers at different angles and extract asset details about a particular 
        trailer and display it to the user through a Google Maps dashboard. 
        This application has the potential to save UPS over $33M as it will 
        help enhance information and trailer identification. 
        <br>
        Features
        <br>
        <li>Stored images of trailers given to us in Google Image Buckets 
            (where in a real-life implementation, images from security cameras 
            would be uploaded to these Google Image Buckets)
        </li>
        <li>Extracted data from images using Vertex AI Multimodal Model 
            (pre-trained AI model)
        </li>
        <li>Utilized a Firestore database to store location information 
            and other extracted asset details
        </li>
        <li>Used a NestJS API to get asset details for the application 
            from the database
        </li>
        <li>Created an Angular application that utilized a Google Maps 
            dashboard to display the locations of every trailer in a 
            particular area
        </li>
        <li>Implemented Quick Cards to locate the nearest vehicles to the user's 
            current selected trailer location
        </li>
    </p>
    <embed
        src="/2024upshack.pdf"
        type="application/pdf"
        width="70%"
        height="600px"
        style="border: none; margin: 0 auto; display: block"
    >
    <br>
</div>
