<div class="text-center">
   Outside of class, I am involved in various organizations at
   Vanderbilt that have allowed me to expand my knowledge in 
   electrical engineering by building real, physical devices that 
   have amazing positive impacts on the world!
    <br>
    <b>Wearable Sensor for Health Monitoring</b>
    <p>
        I am in the Du Group Research Lab, run by my PI, Dr. Du. 
        The first project I worked on was to learn how to solder using 
        SMD reflow and a hot air station in order to assemble a PCB 
        with microscopic component sizes. This wearable was created 
        for human health monitoring in order to gain real-life 
        physiological insights. It utilizes EEG and EMG to measure 
        brain activity, ECG to measure cardiovascular data, and NIRS 
        to measure data realted to blood and tissue oxygenation. I am 
        currently working on learning circuit design to hopefully design 
        sensors in the future!
    </p>
    <div style="max-width: 1000px; margin: 0 auto;">
        <carousel>
            <slide>
              <img src="/researchWearable.jpg" alt="first slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Assembled Wearable Sensor</h3>
                <p>This was the first time I fully finished soldering and 
                    assembling the wearable sensor and saw it work with the 
                    application created for it to measure data.
                </p>
              </div>
            </slide>
            <slide>
              <img src="/researchSetup.jpg" alt="second slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>PCB Assembly Setup</h3>
                <p>
                    This shows the workspace and process of assembling the PCB. 
                    I applied by hand all of the solder paste using a microscope and 
                    used a hot air station to melt the solder. Tweezers were used to hand place
                    each component onto the PCB.
                </p>
              </div>
            </slide>
            <slide>
              <img src="/wearableSolder.jpg" alt="third slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Microscopic Solder Paste View</h3>
                <p>This is a view of one of the first times I applied solder
                    paste to the PCB through the microscope.
                </p>
              </div>
            </slide>
             <!-- Left arrow -->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Right arrow -->
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
          </carousel>
    </div>
    <br>
    <b>Stormwater Runoff Device</b>
    <p>
        This device was created as a project through Engineers Without 
        Borders at Vanderbilt University in order to help improve the 
        sustainability around campus through being more aware about the 
        aspects of stormwater runoff around campus. This device can be 
        easily re-created in order to serve various purposes related to 
        ensuring that the rainwater that flows throughout Vanderbilt and 
        surrounding areas is as enviornmentally-friendly as possible. Within 
        Engineers Without Borders, we called this project the EPA Rainworks 
        Project since it was submitted to the 2024 EPA Rainworks challenge.
        <br>
        Features
        <br>
        <li>Uses 5 sensors to measure pH, conductivity, turbidity, flow 
            rate, and soil moisture of rainwater
        </li>
        <li>Utilizes an ESP 8266 ThingDev microcontroller and an 
            Analog-to-Digital Converter (ADC)
        </li>
        <li>Electronic components are housed on a PCB designed by the 
            Project Manager and myself in EasyEDA (for easy collaboration)
        </li>
        <li>Programmed microcontroller using Arduino IDE software</li>
        <li>Device is powered using 3 1.5 V batteries</li>
        <li>Utilizes a deep sleep feature to preseve power on the device</li>
        <li>Enclosure designed in Solidworks and printed out of PLA</li>
        <li>Device can be placed into the ground, and data is collected wirelessly 
            using VUDevices internet and sent to ThingSpeak channels to graph 
            data
        </li>
        <br>
        My freshman year was spent contributing to this project by helping 
        callibrate the conductivity sensor through salinity and molarity calculations. 
        In addition, I studied the design and electrical processes of the electronics 
        within the device itself. In my sophomore year, I helped lead some of the 
        electrical processes within the device. I helped create the PCB that 
        holds the main electronics (schematic and layout), and I taught other students 
        about this project and how the electronics work, answering questions 
        and delegating tasks to students based on instruction from the Project 
        Manager. I helped debug and callibrate the device, as we made many 
        modifications in order to finish a prototype of the device that could be 
        placed into the ground before the school year ended. Next steps for this 
        project would include making modifications to the code and electronics 
        based on what we discovered with this prototype, and adding in features 
        that may make the device easier to debug when it is in the ground.
    </p>
    <br>
    <b>Modified Bike, Pen Holder, and Gloves</b>
    <br>
    <p>
        For the 2024 TOM (Tikkun Olam Makers Vanderbilt) Annual 
        Make-a-Thon, I was a part of Team 12 where we worked with a 
        child named Hugh who had clubbed hand syndrome. We worked with him 
        to modify a bike so that he could ride it safely by adding 3D printed 
        attachements to it. In addition, we created a pen holder to help 
        him open pen caps unassisted. Finally, we designed gloves so that he 
        could stay warm in the winter.
        <br>
        Features
        <li>Inside of the glove is lined with a warm fleece material so that Hugh stays warm</li>
        <li>Glove is shaped to perfectly fit his hand</li>
        <li>Outside of glove is made of a red waterproof material with
            eyes to mimic a character he created
        </li>
        <li>Glove utilizes velcro and a loop to easily take on/off the 
            glove</li>
        <li>Pen Holder and bike attachements are all 3D printed and designed</li>
        <li>Bike was cleaned and spray painted like new, and disassembled/reassembled 
            to create modifications
        </li>
        <a href="https://www.vanderbilt.edu/the-wondry/2024/11/14/empowering-independence-tom-makeathon-teams-design-life-changing-adaptive-solutions/" target="_blank">2024 Make-a-Thon</a>
        <br>
        



    <br>
    <b>Shoe Drop Device</b>
    <p>
        For the 2023 TOM (Tikkun Olam Makers Vanderbilt) Annual 
        Make-a-Thon, I was a part of Team 9, where we worked with a 
        PT to help make a device that could help assist in gait training 
        patients to help them gain confidence to walk again. When patients 
        who are paralyzed in one leg are trying to learn how to walk again 
        in their paretic leg, they have trouble applying an appropiate weight 
        to that leg because they do not have much control over that leg. As a
        result, PT's often try to teach them how to move that leg by telling 
        them to move the leg that they can move, and then help them move their 
        other leg by dragging it on the floor. However, the bottom of the 
        patient's foot needs to be a surface that can easily glide along the 
        floor so that the PT can push their leg for the patient and easily glide 
        their leg across the floor. At first, they were using a tissue box, 
        which is a tempoary solution that may be cheap and effective, but is 
        not reusable and is wasteful. We 3D printed and designed a more effective 
        solution to this issue, which is an easily attachable foot brace that 
        can facilitate functional movement for these patients.
        <br>
        Features
        <li>Designed and 3D printed a foot brace using SolidWorks</li>
        <li>Utilizes two straps made of velcro (one in the back and one to keep 
            foot in place)
        </li>
        <li>Includes an extra strap at the top that the PT can use for extra 
            support while assisting the patient in gaining confidence to walk again
        </li>
        <a href="https://www.vanderbilt.edu/the-wondry/tikkun-olam-makers-2023-makeathon/" target="_blank">Link to Team 9 Information</a>
        <br>
        <iframe 
            width="560" 
            height="315" 
            src="https://www.youtube.com/embed/Fx-5khizxQ0" 
            frameborder="0" 
            allowfullscreen>
        </iframe>
    </p>
</div>
