<div class="text-center">
   Outside of class, I am involved in various organizations at
   Vanderbilt that have allowed me to expand my knowledge in 
   electrical engineering by building real, physical devices that 
   have amazing positive impacts on the world!
    <br>
    <b>Wearable Sensor for Health Monitoring</b>
    <p>
        I am in the Du Group Research Lab, run by my PI, Dr. Du. 
        The first project I worked on was to learn how to solder using 
        SMD reflow and a hot air station in order to assemble a PCB 
        with microscopic component sizes. This wearable was created 
        for human health monitoring in order to gain real-life 
        physiological insights. It utilizes EEG and EMG to measure 
        brain activity, ECG to measure cardiovascular data, and NIRS 
        to measure data realted to blood and tissue oxygenation. I am 
        currently working on learning circuit design to hopefully design 
        sensors in the future!
    </p>
    <div style="max-width: 1000px; margin: 0 auto;">
        <carousel>
            <slide>
              <img src="/researchWearable.jpg" alt="first slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Assembled Wearable Sensor</h3>
                <p>This was the first time I fully finished soldering and 
                    assembling the wearable sensor and saw it work with the 
                    application created for it to measure data.
                </p>
              </div>
            </slide>
            <slide>
              <img src="/researchSetup.jpg" alt="second slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>PCB Assembly Setup</h3>
                <p>
                    This shows the workspace and process of assembling the PCB. 
                    I applied by hand all of the solder paste using a microscope and 
                    used a hot air station to melt the solder. Tweezers were used to hand place
                    each component onto the PCB.
                </p>
              </div>
            </slide>
            <slide>
              <img src="/wearableSolder.jpg" alt="third slide" style="display: block; width: 65%; margin: 0 auto;">
              <div class="carousel-caption d-none d-md-block">
                <h3>Microscopic Solder Paste View</h3>
                <p>This is a view of one of the first times I applied solder
                    paste to the PCB through the microscope.
                </p>
              </div>
            </slide>
             <!-- Left arrow -->
            <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <!-- Right arrow -->
            <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
          </carousel>
    </div>
    <br>
    <b>Stormwater Runoff Device</b>
    <br>
    <b>Modified Bike, Pen Holder, and Gloves</b>
    <br>
    <b>Shoe Drop Device</b>
</div>
