<div style="margin-left: 40px;">
    <p class="text-center">
        I have always enjoyed tinkering with devices and electronic parts
    since the moment I decided I wanted to be an engineer at age 11.
    As a result, I have tinkered with many devices including 
    Arduinos, Raspberry Pis, and I also recently was gifted an 
    STM32 that I hope to tinker with as well to make my own projects
    with!
    <br>
    <br>
    (Note that both of these projects are to be completed, 
     and I hope to do them this summer.)
    </p>
     <br>
     &nbsp;&nbsp;&nbsp;&nbsp;<b>Home Automation System</b>
     <p>
        <li>
            Considering trying to create utilizing an STM32, will be 
            in progress
        </li>
     </p>
     <br>
     &nbsp;&nbsp;&nbsp;&nbsp;<b>Raspberry Pi: AI-Enabled Security System</b>
     <p>
        <li>
            Considering trying to create utilizing a Raspberry Pi 4 
            Model B that I was given from a professor I had in Fall 
            2024 (Thank you Professor Landman!), will be in progress
        </li>
     </p>
     <br>
 </div>
