<div style="margin-left: 40px;">
    <p class="text-center">
        I have always enjoyed tinkering with devices and electronic parts
    since the moment I decided I wanted to be an engineer at age 11.
    As a result, I have tinkered with many devices including 
    Arduinos, Raspberry Pis, and I also recently was gifted an 
    STM32 that I hope to tinker with as well to make my own projects
    with!
    <br>
    <br>
    (Note that both of these projects are to be completed, 
     and I hope to do them this summer.)
    </p>
     <br>
     <br>
     &nbsp;&nbsp;&nbsp;&nbsp;<b>Plant Health Monitoring Device (In Progress)</b>
     <p>
        <li>
            Designing a PCB in Eagle that uses an ESP32, soil moisture, BME280 
            temperature and humidity sensor, and BH2750 light sensor to monitor 
            plant health. Will have 2 LEDs that indicate if the plant needs more light 
            or more water. In the future, may try to add ML processing that 
            predicts how long the plant can go without water based on previous 
            trends.
        </li>
     </p>
     <br>
     &nbsp;&nbsp;&nbsp;&nbsp;<b>Raspberry Pi: AI-Enabled Security System (In Progress)</b>
     <p>
        <li>
            Considering trying to create utilizing a Raspberry Pi 4 
            Model B that I was given from a professor I had in Fall 
            2024 (Thank you Professor Landman!), will be in progress
        </li>
     </p>
     <br>
 </div>
