<div class="text-center">
    I have always enjoyed tinkering with devices and electronic parts
    since the moment I decided I wanted to be an engineer at age 11.
    As a result, I have tinkered with many devices including 
    Arduinos, Raspberry Pis, and I also recently was gifted an 
    STM32 that I hope to tinker with as well to make my own projects
    with!
     <br>
     (Note that both of these projects are to be completed, 
     and I hope to do them this summer.)
     <b>STM32: Home Automation System</b>
     <br>
     <b>Raspberry Pi: AI-Enabled Security System</b>
 </div>
