<div style="margin-left: 40px;">
    <p class="text-center">
        Within my coursework, I have gained the foundation of many 
    transferrable skills in electrical engineering, and have also completed
    projects that showcase my skills!
    </p>
    <br>
    <div class="text-center">
        <b>(WILL BE COMPLETED)
            VLSI Design Project (ECE 5385 - Fall 2025)</b>
    </div>
    <br>
    <p>
        <div class="text-center">
            <b>Syringe Pump Project (DF 2100 - Fall 2024)</b>
        </div>
        &nbsp;&nbsp;&nbsp;&nbsp; Our final project in Rapid Prototyping (where
        DF stands for Digital Fabrication in the course code title)
        was to create a device that can push a 
        20 mL and 10 mL syringe utilizing a stepper motor and linear actuator. 
        I worked in a team with myself and three other people to create this device, 
        where our team was called the "Gantry Gang" (given by our professor).
        We designed our own enclosure using Fusion 360 and 3D printed the 
        components out of PLA. The linear actuator also had 3D printed components made 
        of PLA and ABS (for the motor mount). The device was programmed using 
        an Arduino IDE as it runs on an Arduino Uno microcontroller to create 
        position reset buttons, have a potentiometer to select a flow rate between 0.1 
        and 5 mL/min, an LCD that displays all of this information, a limit switch that 
        detects how much liquid is in the device, an RGB light that flashes red, 
        yellow, or green to show the status of the device, and a power button for the 
        device. In addition, there is a power supply within the device tiself that 
        allows it to completely run on its own by being plugged into the wall 
        with an outlet plug.
        <br>
        &nbsp;&nbsp;&nbsp;&nbsp;My main contribution to this project was on the ECE side, as I 
        helped wire up the Arduino together with the breadboard and helped 
        do a lot of the coding of the Arduino Uno Microcontroller.
        <br>
        <div style="max-width: 1000px; margin: 0 auto;">
            <carousel>
                <slide>
                  <img src="/fusionSyringe.png" alt="first slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Final Product Rendering</h3>
                    <p>We modeled a final rendering of our product in Fusion 360.</p>
                  </div>
                </slide>
                <slide>
                  <img src="/DFFinalProduct.jpg" alt="second slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Final Product</h3>
                    <p>This is a picture of our final product as we are presenting it working.</p>
                  </div>
                </slide>
                <slide>
                  <img src="/DFWiring.jpg" alt="third slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Internal Wiring</h3>
                    <p>When our product is opened up, this is an image showing the internal wiring to the 
                        power supply and Arduino to our various components.</p>
                  </div>
                </slide>
                 <!-- Left arrow -->
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- Right arrow -->
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </carousel>
        </div>
     <br>
     <div class="text-center">
        <b>Weather Station (Project-Based Programming - HS Senior Year)</b>
    </div>
    <p>
        I created a portable weather station in my Project-Based programming 
        class (senior year of high school) using an Arduino Uno and coding on 
        Arduino IDE software that is connected to an LCD and uses RGB lighting 
        and a BME 280 sensor. This device displays the temperature, humidity, 
        pressure, and approximate altitude in the air on the LCD. The device 
        also uses a RGB LED to indicate how hot or cold the weather is through 
        six different color ranges based on the temperature reading (using 
        general known indication where red is the hottest temperature and blue 
        is the coldest with four other colors in between accordingly). Finally, 
        the device is enclosed in a 3D printed case that I created and rendered 
        using OpenSCAD software. I presented each iteration of this project to 
        my class and have tweaked it over the course of a school year before I 
        reached its final product.
    </p>
 </div>
