.carousel-caption {
    position: absolute;
    bottom: 20px; /* distance from bottom of image */
    left: 0%;
    right: 0%;
    transform: none; /* center horizontally */
    background: rgba(0, 0, 0, 0.6); /* dark semi-transparent background */
    color: white;
    padding: 10px 20px;
    border-radius: 10px;
    text-align: center;
  }
  .carousel-control-prev-icon,
  .carousel-control-next-icon {
    background-color: rgba(0, 0, 0, 0.5);
    mask-image: none;
    background-image: none;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 30px;
    color: white;
  }

  .carousel-control-prev::before,
  .carousel-control-next::before {
    content: '‹';
    color: white;
    font-size: 2rem;
  }