<div class="text-center">
    <br>
    <h1>Hardware Portfolio</h1>
    <br>
    <b>Welcome to my website! It's so nice to see you here.</b>
    <br>
    <br>
    <p>This is a website dedicated to showcase all of the main projects 
        I have completed related to electrical and computer engineering to 
        showcase my passion for all aspects of creating things!
    </p>
    <p>
        Whether you are a friend, teacher, mentor, recruiter, 
        or just a person interested in my work, welcome and
        thank you for visiting my page! I was inspired by my 
        Summer 2024 SWE internship doing website and application 
        development to make this, and a year later, I finally made the
        time to create the final product and deploy it! I hope that 
        this website showcases my skills, excitement, and passion
        for learning new things and exploring all aspects of tech. 
        Enjoy!
    </p>
    <br>
</div>

<div class="container">
    <div class="row">
        <!--Current Project-->
        <div class="col-lg shadow border m-1; text-center">
            <h2>Most Recent Project</h2>
            <b>Stormwater Runoff Device</b>
            <br>
            <p>We just made a full prototype that we tested in the ground 
                for over a week!
            </p>
            <carousel>
                <slide>
                  <img src="/ewbsite.jpeg" alt="first.jpeg slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Putting Device at Site</h3>
                  </div>
                </slide>
                <slide>
                  <img src="/ewbprototype.jpeg" alt="second slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Recent Prototype</h3>
                  </div>
                </slide>
                <slide>
                  <img src="/ewbschematic.png" alt="third slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>PCB Schematic</h3>
                  </div>
                </slide>
                <slide>
                    <img src="/ewbexplanation.png" alt="fourth slide" style="display: block; width: 65%; margin: 0 auto;">
                    <div class="carousel-caption d-none d-md-block">
                      <h3>Device Components</h3>
                    </div>
                  </slide>
                
                 <!-- Left arrow -->
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- Right arrow -->
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </carousel>
        </div>
        <!--Featured Project-->
        <div class="col-lg shadow border m-1; text-center">
            <h2>Featured Project</h2>
            <b>Wearable Sensor for Health Monitoring</b>
            <br>
            <carousel>
                <slide>
                  <img src="/researchWearable.jpg" alt="first slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Assembled Wearable Sensor</h3>
                  </div>
                </slide>
                <slide>
                  <img src="/researchSetup.jpg" alt="second slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>PCB Assembly Setup</h3>
                  </div>
                </slide>
                <slide>
                  <img src="/wearableSolder.jpg" alt="third slide" style="display: block; width: 65%; margin: 0 auto;">
                  <div class="carousel-caption d-none d-md-block">
                    <h3>Microscopic Solder Paste View</h3>
                  </div>
                </slide>
                 <!-- Left arrow -->
                <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Previous</span>
                </button>
                <!-- Right arrow -->
                <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="visually-hidden">Next</span>
                </button>
              </carousel>
        </div>
    </div>
</div>
